name: Deploy Frontend to Firebase Hosting

on:
  push:
    tags:
      - 'v*'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: |
          cd flowstry-app
          npm ci

      - name: Build
        run: |
          cd flowstry-app
          npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FLOWSTRY }}'
          channelId: live
          projectId: '${{ secrets.GCP_PROJECT_ID }}'
          entryPoint: ./flowstry-app
