name: Deploy Website to Firebase Hosting

on:
  push:
    tags:
      - 'v*'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Dependencies
        run: |
          cd flowstry-website
          npm ci

      - name: Build
        run: |
          cd flowstry-website
          npm run build
          # Handling image renaming for OG tags if needed, though Next.js usually handles this
          if [ -f "out/opengraph-image" ]; then mv out/opengraph-image out/opengraph-image.png; fi
          if [ -f "out/twitter-image" ]; then mv out/twitter-image out/twitter-image.png; fi

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_FLOWSTRY }}'
          channelId: live
          projectId: '${{ secrets.GCP_PROJECT_ID }}'
          entryPoint: ./flowstry-website
